<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<context:property-placeholder />
	<context:annotation-config />
	<bean
		class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer" />
	<bean
		class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer" />
	<jaxrs:server id="services" address="/wlr">
		<jaxrs:serviceBeans>
			<bean class="au.edu.unsw.soacourse.foundIT.provider.userProfileServiceProvider" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	
	 <jaxrs:server id="jobPostingServices" address="/lkq">
		<jaxrs:serviceBeans>
			<bean class="au.edu.unsw.soacourse.foundIT.provider.jobPostingServiceProvider" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server> 
		 <jaxrs:server id="companyServices" address="/lkq2">
		<jaxrs:serviceBeans>
			<bean class="au.edu.unsw.soacourse.foundIT.provider.comProfileServiceProvider" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server> 
	
	<jaxrs:server id="applicationServices" address="/cyb">
		<jaxrs:serviceBeans>
			<bean class="au.edu.unsw.soacourse.foundIT.provider.applicationServiceProvider" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<jaxrs:server id="reviewServices" address="/cyb2">
		<jaxrs:serviceBeans>
			<bean class="au.edu.unsw.soacourse.foundIT.provider.reviewServiceProvider" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server> 
	<jaxrs:server id="hiringTeamServices" address="/cyb3">
		<jaxrs:serviceBeans>
			<bean class="au.edu.unsw.soacourse.foundIT.provider.hiringTeamServiceProvider" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server> 
	
</beans>
