<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.client.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterController</servlet-name>
  	<display-name>RegisterController</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.client.RegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CompanyController</servlet-name>
  	<display-name>CompanyController</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.client.CompanyController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchController</servlet-name>
  	<display-name>SearchController</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.client.SearchController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerController</servlet-name>
  	<display-name>ManagerController</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.client.ManagerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplicationController</servlet-name>
  	<display-name>ApplicationController</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.client.ApplicationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AutoCheck</servlet-name>
  	<display-name>AutoCheck</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.client.AutoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MailServlet</servlet-name>
  	<display-name>MailServlet</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.client.MailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewController</servlet-name>
  	<display-name>ReviewController</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.client.ReviewController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewerController</servlet-name>
  	<display-name>ReviewerController</display-name>
  	<description></description>
  	<servlet-class>au.edu.unsw.soacourse.client.ReviewerController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CompanyController</servlet-name>
  	<url-pattern>/CompanyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchController</servlet-name>
  	<url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerController</servlet-name>
  	<url-pattern>/ManagerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationController</servlet-name>
  	<url-pattern>/ApplicationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AutoCheck</servlet-name>
  	<url-pattern>/AutoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MailServlet</servlet-name>
  	<url-pattern>/MailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewController</servlet-name>
  	<url-pattern>/ReviewController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewerController</servlet-name>
  	<url-pattern>/ReviewerController</url-pattern>
  </servlet-mapping>
</web-app>
